<form action="/pizzas/busca" method="get" id="form-busca">
  <input
    type="text"
    name="q"
    placeholder="Qual pizza você procura?"
    autocomplete="off"
    value=""
  />
  <button type="submit">Buscar</button>
  <a href="/pizzas/cart"><%= quantidade %></a>
</form>
